@layer utilities {
  .center-shadow-xs {
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
  }
  .center-shadow-sm {
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
  }
  .center-shadow-md {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  .center-shadow-lg {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  }
  .center-shadow-xl {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  }
}
